/* Day 6 Styles */

* {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #786450;
}

/* tan box container */
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 0;
	position: absolute;
	left: 50%;
	width: 400px;
	height: 400px;
	margin: 20px -200px;
	border-radius: 5px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
	background-image: linear-gradient(to bottom left, #CD8050, #ECB96A);
}

/* card with all other info */
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    background: #FFFFFF;
    overflow: hidden;
}

/* left column: profile picture, buttons */
.left-column {
    width: 60%;
    z-index: 2;
}

/* right column: posts, likes, follows */
.right-column {
    width: 40%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #F5E7DF;
}

hr {
    color: #FFFFFF;
    height: 2px;
    z-index: 3;
}

.row {
    display: flex;
    flex-direction: column;
    padding: 25px;
    text-align: center;
    gap: 3px;
}

.numbers {
    font-size: 20px;
    font-weight: 500;
}

.categories {
    font-size: 12px;
}