/* Day 8 styles */

.container-color8 {
    background: #000000;
}

.ball {
    position: absolute;
}

.white-center {
    position: relative;
    height: 5em;
    width: 5em;
    background-color: #FFFFFF;
    border-radius: 50%;
    filter: blur(15px);
}

@keyframes rotate {
    from {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
    to {
        transform: rotate(360deg) translate3d(0, 0, 0);
    }
}