/* Day 9 styles */

/* collective styles */
.weather-stats, .forecast {
    display: flex;
}
.temp, .wind-humidity, .forecast {
    font-weight: lighter;
}
.temp, .wind-humidity, .forecast-temps {
    margin-left: 0.5em;
}

/* day 9 background color */
.container-color9 {
    background: #1B2237;
}

/* top 3/4 w/ weather animation */
.weather-picture {
    height: 75%;
}

/* moon */
.moon {
    position: absolute;
    border-radius: 50%;
    height: 4.2em;
    width: 4.2em;
    top: 2.8em;
    left: 3.4em;
    background-color: #F6EDBD;
    box-shadow: 0 0 10px 0 #F6EDBD;
    overflow: hidden;
}
.moon.animate {
    animation: rise 1.25s ease-out;
}
.crater {
    position: absolute;
    background-color: #D9C97B;
    border-radius: 50%;
    opacity: 0.3;
    transform: translate(-50%, -50%);
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.3);
}

/* hills */
.all-hills {
    position: absolute;
    z-index: 2;
    width: 21em;
    height: 17.5em;
    border-radius: 50%;

}
.bg-hills {
    background: #26314F;
}
.fg-hills {
    background: #303C5D;
}
.hill-bg-1 {
    top: 12.5em;
    left: -3.5em;
    border-radius: 50%;
}
.hill-bg-2 {
    top: 12.3em;
    left: 11em;
}
.hill-fg-1 {
    top: 15.5em;
    left: -8.5em;
}
.hill-fg-2 {
    top: 13.8em;
    left: 4em;
}
.hill-fg-3 {
    background: #303C5D;
    top: 15.5em;
    left: 18.25em;
}

/* raindrops */
.drop {
    position: absolute;
    bottom: 5.625em;
    z-index: 20;
    border-radius: 50%;
    transform-origin: 50% 100%;
    animation-name: drop;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    background: #7FC1F9;
    /* animation: drop var(--duration) linear var(--delay) infinite; */
}
.drop::before,
.drop::after {
    content: "";
    position: absolute;
    display: block;
    background: #7FC1F9;
}
.drop.big {
    width: 0.5em;
    height: 0.5em;
}
.drop.big::before {
    top: -0.125em;
    left: 0.063em;
    width: 0.375em;
    height: 0.375em;
    border-radius: 0.188em;
}
.drop.big::after {
    top: 0.313em;
    left: 0.125em;
    width: 0.25em;
    height: 0.625em;
    border-radius: 50%;
}


/* raindrop animation */
@keyframes drop {
    0% {
        transform: translate3d(2.5em, -20em, 0) scaleX(1) scaleY(1) rotate(17deg);
    }
    85% {
        transform: translate3d(0, 0, 0) scaleX(1) scaleY(1) rotate(17deg);
    }
    100% {
        transform: translate3d(0, 0, 0) scaleX(3) scaleY(0) rotate(0deg)
    }
}

/* bottom 1/4 w/ weather stats */
.weather-stats {
    flex-direction: row;
    align-items: center;
    z-index: 3;
    height: 25%;
    width: 100%;
    background: #FFFFFF;
}
.temp {
    font-size: 3em;
}
.wind-humidity {
    font-size: 1em;
}
.forecast {
    justify-content: space-between;
    margin-left: 3.2em;
}
.forecast-temps {
    font-weight: bolder;
}

@keyframes rise {
    from {transform: translate(-20px, 200px);}
    to {transform: translate(0,0)};
}

/* tablet view */
@media (max-width: 945px) {
    .moon {
        height: 3em;
        width: 3em;
        top: 1.5em;
        left: 1.75em;
    }
    .temp {
        font-size: 2em;
    }
    .wind-humidity {
        font-size: 0.75em;
    }
    .forecast {
        margin-left: 1em;
        font-size: 0.75em;
    }
}

/* mobile view */
@media (max-width: 600px) {
    .moon {
        height: 3.25em;
        width: 3.25em;
        top: 1.75em;
        left: 2.5em;
    }
    .forecast {
        margin-left: 3.5em;
    }
}