/* Day 9 styles */

.container-color9 {
    background: #1B2237;
}

.weather-picture {
    height: 75%;
}

.weather-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25%;
    width: 100%;
    background: #FFFFFF;
}

.temp {
    font-size: 3em;
    font-weight: lighter;
    margin-left: 0.5em;
}

.wind-humidity {
    font-size: 1em;
    font-weight: lighter;
    margin-left: 0.5em;
}