/* green box container */
.container-color5 {
	background: #42A7A1;
}

/* card for chart */
.chart-container {
    font-family: 'Open Sans', Helvetica, sans-serif !important;
	padding: 0.5em 1em;
	z-index: 4;
	position: relative;
	width: 17.25em;
	height: 12.5em;
	border-radius: 5px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	background: linear-gradient(to top, #FFFFFF 0%, #FFFFFF 70%, #F1BA64 70%, #F1BA64 100%);
}

/* top orange section */
.chart-header {
	color: #FFFFFF;
	background: #F1BA64;
	padding: 0.5em 0;
}

/* headings in orange section */
.chart-large-text, .chart-small-text, .chart-top-row, .chart-bottom-row {
	margin: 0;
}

/* "weekly report" title */
.chart-large-text {
	font-size: 0.9em;
	font-weight: 600;
}

/* other text in orange header */
.chart-small-text, .key {
	font-size: 0.75em;
	font-weight: 8;
}

/* alignment for header text */
.chart-top-row, .chart-bottom-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* chart key */
.key {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	text: #808080;
	padding: 0.5em;
}
.key-red, .key-blue {
	outline: none;
	flex-grow: 1;
	height: 0.1em;
	max-width: 0.8em;
	margin: 1.5em 0.5em 0 1.5em;
	padding: 0;
	border-radius: 3px;
}
.key-red {
	border: 0.5px solid #FA7373;
	background-color: #FA7373;
}
.key-blue {
	border: 0.5px solid #7BA2FF;
	background-color: #7BA2FF;
}

/* chart text */
.view-purchase, .weekdays {
	color: #606060;
}
.view-purchase {
	margin-top: 1.5em;
}

/* lines on line graph */
.chart-lines {
	width: 100%;
	/* height: auto; */
	position: relative;
}
.red-line, .blue-line {
	fill: none;
	stroke-width: 2;
	stroke-linecap: round;
}
.red-line {
	stroke: #FA7373;
}
.blue-line {
	stroke: #7BA2FF;
}
/* svg container for chart lines */
.polyline-container {
	display: block;
	width: 100%;
	height: auto;
	/* max-height: 100%;
	max-width: 100%; */
}

/* popup bubbles w/ data */
.popup-bubble {
	position: absolute;
	font-weight: 600;
	font-size: 0.7em;
	background-color: black;
	color: #FFFFFF;
	padding: 0.5em 0.375em;
	border-radius: 3px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.4s ease-out;
}
/* .popup-bubble::after {
	position: absolute;
	display: block;
	content: '';
	height: 0.375em;
	width: 0.375em;
} */
.points {
	position: relative;
	width: 0.375em;
	height: 0.375em;
	border-radius: 50%;
	cursor: pointer;
	z-index: 10;
}
.red {
	background-color: #FA7373;
}
.blue {
	background-color: #7BA2FF;
}
.points:hover .popup-bubble {
	visibility: visible;
	opacity: 1;
}

/* weekday text */
.weekdays {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	text-align: center;
	font-size: 0.75em;
	padding: 0;
	margin: 0;
}

/* tablet styling */
@media (max-width: 945px) {
	.chart-container {
		width: 10em;
		height: 7.25em;
	}
	.chart-header {
		padding: 0.1em 0;
	}
	.chart-large-text {
		font-size: 0.5em;
		font-weight: 600;
	}
	.chart-small-text, .key {
		font-size: 0.25em;
		font-weight: 8;
	}
	.key-red, .key-blue {
		max-width: 1.75em;
		margin: 4em 1.5em 0 3.5em;
	}
	.view-purchase {
		margin-top: 12em;
	}
	.chart-lines {
		padding: 0.5em 0.5em 0 0em;
	}
	.weekdays {
		font-size: 0.5em;
	}
}

/* mobile styling */
@media (max-width: 600px) {
	.chart-container {
		width: 12em;
		height: 9em;
	}
	.chart-large-text {
		font-size: 0.75em;
	}
	.chart-small-text, .key {
		font-size: 0.65em;
	}
	.key-red, .key-blue {
		max-width: 1em;
		margin: 1.65em 0.75em 0 1em;
	}
	.view-purchase {
		margin-top: 2em;
	}
}