/* Day 5 Styling */

/* collective styling */
.chart-top-row, .chart-bottom-row, .key, .weekdays {
	display: flex;
	justify-content: space-between;
}
.chart-top-row, .chart-bottom-row, .key {
	flex-direction: row;
}
.chart-container, .chart-lines, .points {
	position: relative;
}
.chart-header, .popup-bubble {
	color: #FFFFFF;
}
.chart-large-text, .chart-small-text, .chart-top-row, .chart-bottom-row, .weekdays {
	margin: 0;
}
.chart-large-text, .popup-bubble {
	font-weight: 600;
}
.chart-small-text, .key, .weekdays {
	font-size: 0.75em;
}
.chart-small-text, .key {
	font-weight: 8;
}
.key-red, .key-blue {
	outline: none;
	flex-grow: 1;
	height: 0.1em;
	max-width: 0.8em;
	margin: 1.5em 0.5em 0 1.5em;
	border-radius: 3px;
}
.key-red, .key-blue, .weekdays {
	padding: 0;
}
.view-purchase, .weekdays {
	color: #606060;
}
.red-line, .blue-line {
	fill: none;
	stroke-width: 2;
	stroke-linecap: round;
}
.chart-lines, .polyline-container, .weekdays {
	width: 100%;
}
.chart-lines, .polyline-container, .points {
	overflow: visible;
}

/* green box container */
.container-color5 {
	background: #42A7A1;
}

/* card for chart */
.chart-container {
    font-family: 'Open Sans', Helvetica, sans-serif !important;
	padding: 0.5em 1em;
	z-index: 4;
	width: 17.25em;
	height: 12.5em;
	border-radius: 5px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	background: linear-gradient(to top, #FFFFFF 0%, #FFFFFF 70%, #F1BA64 70%, #F1BA64 100%);
}

/* top orange section */
.chart-header {
	background: #F1BA64;
	padding: 0.5em 0;
}

/* "weekly report" title */
.chart-large-text {
	font-size: 0.9em;
}

/* chart key */
.key {
	justify-content: flex-end;
	text: #808080;
	padding: 0.5em;
}
.key-red {
	border: 0.5px solid #FA7373;
	background-color: #FA7373;
}
.key-blue {
	border: 0.5px solid #7BA2FF;
	background-color: #7BA2FF;
}

/* chart text */
.view-purchase {
	margin-top: 1.5em;
}

/* lines on line graph */
.red-line {
	stroke: #FA7373;
}
.blue-line {
	stroke: #7BA2FF;
}
/* svg container for chart lines */
.polyline-container {
	display: block;
	height: auto;
}

/* data points */
.points-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100%;
}
.points {
	width: 0.375em;
	height: 0.375em;
	border-radius: 50%;
	cursor: pointer;
	z-index: 10;
}
.red {
	background-color: #FA7373;
}
.blue {
	background-color: #7BA2FF;
}

/* popup bubbles w/ data - seem to be positioned right but aren't showing */
.popup-bubble {
	position: absolute;
	bottom: 120%;
	left: -20%;
	font-size: 0.7em;
	line-height: 0.7em;
	padding: 0.5em 0.375em;
	border-radius: 3px;
	visibility: hidden;
	opacity: 0;
	transition: transform 0.4s ease-out 0s, opacity 0.4s ease-out 0s;
	white-space: nowrap;
	pointer-events: none;
}
/* triangle shape under popup square */
.popup-bubble::after {
	position: absolute;
	display: block;
	content: '';
	height: 0.75em;
	width: 0.75em;
	left: 50%;
	margin-left: -0.3em;
	bottom: -0.35em;
	transform: rotate(45deg);
	background-color: inherit;
	z-index: 5;
}
.points:hover .popup-bubble {
	visibility: visible;
	opacity: 1;
	transform: translate3d(0, -50%, 0);
}

/* weekday text */
.weekdays {
	align-items: center;
	text-align: center;
}

/* tablet styling */
@media (max-width: 945px) {
	.chart-container {
		width: 10em;
		height: 7.25em;
	}
	.chart-header {
		padding: 0.1em 0;
	}
	.chart-large-text {
		font-size: 0.5em;
		font-weight: 600;
	}
	.chart-small-text, .key {
		font-size: 0.25em;
		font-weight: 8;
	}
	.key-red, .key-blue {
		max-width: 1.75em;
		margin: 4em 1.5em 0 3.5em;
	}
	.view-purchase {
		margin-top: 12em;
	}
	.chart-lines {
		padding: 0.5em 0.5em 0 0em;
	}
	.weekdays {
		font-size: 0.5em;
	}
}

/* mobile styling */
@media (max-width: 600px) {
	.chart-container {
		width: 12em;
		height: 9em;
	}
	.chart-large-text {
		font-size: 0.75em;
	}
	.chart-small-text, .key {
		font-size: 0.65em;
	}
	.key-red, .key-blue {
		max-width: 1em;
		margin: 1.65em 0.75em 0 1em;
	}
	.view-purchase {
		margin-top: 2em;
	}
}