/* Day 9 styles */

/* collective styles */
.weather-stats, .forecast {
    display: flex;
}
.temp, .wind-humidity, .forecast {
    font-weight: lighter;
}
.temp, .wind-humidity, .forecast-temps {
    margin-left: 0.5em;
}

.container-color9 {
    background: #1B2237;
}

.weather-picture {
    height: 75%;
}

.weather-stats {
    flex-direction: row;
    align-items: center;
    height: 25%;
    width: 100%;
    background: #FFFFFF;
}

.temp {
    font-size: 3em;
}

.wind-humidity {
    font-size: 1em;
}

.forecast {
    justify-content: space-between;
    margin-left: 3.2em;
}

.forecast-temps {
    font-weight: bolder;
}
