/* Day 10 styles */

/* collective styling */
.day-container, .day10-circles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans', Helvetica, sans-serif;
}
.date, .health-stats {
    font-size: 0.75em;
}

/* all circles */
.day10-circles {
    border-radius: 50%;
    position: relative;
    color: #FFFFFF;
}

/* black box container */
.container-color10 {
    background: #4C4C4C;
}

/* circle background */
.day10-outer-circle {
    border: 0.438em solid #3A3A3A;
    background: #242424;
    z-index: 2;
    height: 13em;
    width: 13em;
}

/* red moving circle */
.moving-circle {
    position: relative;
    height: 12em;
    width: 12em;
    border-radius: 50%;
    isolation: isolate;
}
.moving-circle::before,
.moving-circle::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    z-index: 0;
    border: 0.188em solid red;
}
.moving-circle::before {
    clip: rect(0, 6em, 12em, 0);
    animation: draw-circle 5s linear infinite;
    z-index: 2;
}
.moving-circle::after {
    border-color: #242424;
    clip: rect(0, 6em, 12em, 0);
    animation: erase-circle 5s linear infinite;
    z-index: 3;
}

/* dotted line circle */
.dotted-circle {
    border: 3px dotted #FFFFFF;
    height: 10.5em;
    width: 10.5em;
    position: relative;
    z-index: 1;
}

/* time on watch */
.time {
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1;
}

/* heart rate / kcal row */
.health-stats-row {
    display: flex;
    flex-direction: row !important;
}

/* heart shape */
.heart {
    color: #F85B5B !important;
    font-size: 1em;
    width: 30%;
    margin-right: 0.5em;
    animation: heartbeat 0.5s infinite alternate;
}

/* kcal */
.kcal {
    margin-left: 0.75em;
}

/* heartbeat */
@keyframes heartbeat {
    0%, 50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.25);
    }
}

/* moving red circle animation */
@keyframes draw-circle {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}
@keyframes erase-circle {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}