/* Day 1 Styles */

/* numbers, centered text */
.numbers, .center {
	display: flex;
}

/* centered text */
.center {
	align-items: center;
	justify-content: center;
}

/* flat of 1, both 0's */
.one-flag, .one-stem, .circle, .circle-two {
	position: relative;
}

/* blue box container */
.container-color1 {
	background-image: linear-gradient(to bottom left, #4DC0C8, #4343A2);
}
.day-container {
	flex-direction: column;
}

/* numbers container */
.numbers {
	flex-direction: row;
}

/* #1 */
.one-flag, .one-stem {
	background: white;
	border-radius: 2px;
}

/* individual numbers */
.one-flag, .one-stem, .circle, .circle-two {
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}
.one-stem, .circle, .circle-two {
	margin-bottom: 0.5em;
}

/* #1 */
.one-flag {
	z-index: 3;
	left: 1.25em;
	width: 1.25em;
	height: 2.5em;
	transform: rotate(50deg);
}
.one-stem {
	left: 1em;
	z-index: 4;
	width: 1.56em;
	height: 6.75em;
}

/* 0's */
.circle {
	left: 0.625em;
	z-index: 3;
}
.circle-two {
	z-index: 2;
	left: -0.313em;
}
.circle, .circle-two {
	border: 1.6em solid white;
	height: 3.75em;
	width: 3.75em;
	border-radius: 50%;
}

/* all text */
.text {
	text-align: center;
	font-family: "Courier New", Monospace, serif !important;
	color: white;
	font-weight: bold;
	line-height: .75;
}
.days {
	font-size: 6em;
}
.css-challenge {
	font-size: 1.8em;
}

/* tablet styling */
@media (max-width: 945px) {
	.one-flag {
		width: .8em;
		height: 1.75em;
	}
	.one-stem {
		width: 1em;
		height: 4.5em;
	}
	.circle, .circle-two {
		border: 1em solid white;
		height: 2.5em;
		width: 2.5em;
	}
	.days {
		font-size: 3.75em;
	}
	.css-challenge {
		font-size: 1.25em;
	}
}

/* mobile styling */
@media (max-width: 600px) {
	.one-flag {
		width: 1em;
		height: 2em;
	}	
	.one-stem {
		width: 1.17em;
		height: 5em;
	}	
	.circle, .circle-two {
		border: 1.2em solid white;
		height: 2.8em;
		width: 2.8em;
	}	
	.days {
		font-size: 4.5em;
	}
	.css-challenge {
		font-size: 1.35em;
	}
}