/* Day 1 Styles */

/* blue box container, numbers, centered text */
.container, .numbers, .center {
	display: flex;
}

.container, .center {
	align-items: center;
	justify-content: center;
}

/* blue box container, flat of 1, both 0's */
.one-flag, .one-stem, .circle, .circle-two {
	position: relative;
}

/* blue box container */
.container {
	flex-direction: column;
	z-index: 1;
	left: 50%;
	width: 400px;
	height: 400px;
	margin: 20px -200px;
	border-radius: 5px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
	background-image: linear-gradient(to bottom left, #4DC0C8, #4343A2);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* numbers container */
.numbers {
	flex-direction: row;
}

/* #1 */
.one-flag, .one-stem {
	background: white;
	border-radius: 2px;
}

/* individual numbers */
.one-flag, .one-stem, .circle, .circle-two {
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}

.one-stem, .circle, .circle-two {
	margin-bottom: 7px;
}

/* #1 */
.one-flag {
	z-index: 3;
	left: 20px;
	width: 20px;
	height: 40px;
	transform: rotate(50deg);
}

.one-stem {
	/* position: absolute; */
	left: 15px;
	z-index: 4;
	width: 25px;
	height: 108px;
}

/* 0's */
.circle {
	left: 10px;
	z-index: 3;
}

.circle-two {
	z-index: 2;
	left: -5px;
}

.circle, .circle-two {
	border: 25px solid white;
	height: 60px;
	width: 60px;
	border-radius: 50%;
}

/* all text */
.text {
	text-align: center;
	font-family: "Courier New", Monospace, serif !important;
	color: white;
	font-weight: bold;
	line-height: .75;
}

.days {
	font-size: 6em;
}

.css-challenge {
	font-size: 1.8em;
}