/* Day 10 styles */
@property --angle {
    syntax: "<angle";
    initial-value: 0deg;
    inherits: false;
}

/* collective styling */
.day-container, .day10-circles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans', Helvetica, sans-serif;
}
.date, .health-stats {
    font-size: 0.75em;
}

/* all circles */
.day10-circles {
    border-radius: 50%;
    position: relative;
    color: #FFFFFF;
}

/* black box container */
.container-color10 {
    background: #4C4C4C;
}

/* circle background */
.day10-outer-circle {
    border: 0.438em solid #3A3A3A;
    background: #242424;
    z-index: 2;
    height: 13em;
    width: 13em;
}

/* red moving circle */
.moving-circle {
    position: relative;
    z-index: 3;
    height: 12em;
    width: 12em;
    border-radius: 50%;
}
.moving-circle::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;

    background: conic-gradient(
        #F85B5B var(--angle),
        transparent 0deg
    );

    -webkit-mask: radial-gradient(circle, transparent 80%, black 81%);
    mask: radial-gradient(circle, transparent 80%, black 81%);

    animation: rotate-circle 5s linear infinite;
}

/* dotted line circle */
.dotted-circle {
    border: 3px dotted #FFFFFF;
    z-index: 4;
    height: 11em;
    width: 11em;
}

/* time on watch */
.time {
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1;
}

/* heart rate / kcal row */
.health-stats-row {
    display: flex;
    flex-direction: row !important;
}

/* heart shape */
.heart {
    color: #F85B5B !important;
    font-size: 1em;
    width: 30%;
    margin-right: 0.5em;
    animation: heartbeat 0.5s infinite alternate;
}

/* kcal */
.kcal {
    margin-left: 0.75em;
}

/* heartbeat */
@keyframes heartbeat {
    0%, 50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.25);
    }
}

/* moving red circle animation */
@keyframes rotate-circle {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}