/* Day 2 Styles */

/* hamburger menu lines */
.day2-top-line, .day2-middle-line, .day2-bottom-line {
	border-radius: 5px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
}

/* green box container */
.container-color2 {
	background: #3FAF82;
}

/* hamburger menu */
.day2-hamburger {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	height: 3.75em;
}

/* horizontal lines that make up hamburger */
.day2-top-line, .day2-middle-line, .day2-bottom-line {
	background-color: white;
	width: 5em;
	height: 0.5em;
	transition: background-color .5s ease-in-out;
}

/* pointer cursor */
.day2-hamburger:hover {
	cursor: pointer;
}

/* animation attributes */
/* select elements w/ day2-hamburger class but not static-hamburger class */
.day2-hamburger:not(.static-hamburger) {
	/* animation: uses @keyframes animation, specifies duration, ease-in starts slowly then increase speed of animation */
	.day2-top-line { animation: top-x-to-hamburger2 0.6s ease-in forwards; }
	.day2-middle-line { animation: middle-x-to-hamburger2 0.6s ease-in forwards; }
	.day2-bottom-line { animation: bottom-x-to-hamburger2 0.6s ease-in forwards; }
}
/* ease-in-out starts slow, speeds up, ends slow */
.day2-hamburger.animate-X {
	.day2-top-line { animation: top-hamburger-to-x2 0.6s ease-in-out forwards; }
	.day2-middle-line { animation: middle-hamburger-to-x2 0.6s ease-in-out forwards; }
	.day2-bottom-line { animation: bottom-hamburger-to-x2 0.6s ease-in-out forwards; }
}

/* animation from the hamburger menu to the X shape, line by line */
/* translateY reponsitions element vertically along 2D plane */
@keyframes top-hamburger-to-x2 {
	0% { transform: none; }
	30% { transform: translateY(.75em); }
	100% { transform: translateY(.75em) rotate(45deg); }
}
@keyframes middle-hamburger-to-x2 {
	0% { transform: scale(1); }
	100% { transform: scale(0); }
}
@keyframes bottom-hamburger-to-x2 {
	0% { transform: none; }
	30% { transform: translateY(-.75em); }
	100% { transform: translateY(-.75em) rotate(135deg); }
}

/* animation from the X shape to the hamburger menu, line by line */
@keyframes top-x-to-hamburger2 {
	0% {transform: translateY(.75em) rotate(45deg); }
	50% {transform: translateY(.75em); }
	100% { transform: none; }
}
@keyframes middle-x-to-hamburger2 {
	0% { transform: scale(0); }
	100% { transform: scale(1); }
}
@keyframes bottom-x-to-hamburger2 {
	0% { transform: translateY(-.75em) rotate(135deg); }
	50% { transform: translateY(-.75em); }
	100% { transform: none; }
}

/* tablet styling */
@media (max-width: 945px) {
	.day2-hamburger {
		height: 1.8em;
	}
	.day2-top-line, .day2-middle-line, .day2-bottom-line {
		width: 3em;
		height: 0.25em;
	}
	
}