.day7-card, .day7-card-header, .notifications, .notification-text-container {
    display: flex;
}

.day7-card, .day7-card-header {
    align-items: center;
}

.day7-card, .notification-text-container {
    flex-direction: column;
}

.container-color7 {
    background-color: #263F57;
}

.day7-card {
    justify-content: center;
    font-family: "Open Sans", Helvetica, sans-serif;
    box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.3);
    width: 18.75em;
    height: 18.75em;
    background: #FFFFFF;
    border-radius: 2.75px;
}

/* card header */
.day7-card-header {
    justify-content: space-between;
    padding: 1em 0;
    width: 100%;
    color: #FFFFFF;
    background-color: #5F98CC;
    height: 10%;
    border-radius: 2.75px 2.75px 0 0;
    position: relative;
}

/* menu icon w/ notifications dot */
.menu-icon {
    position: absolute;
    width: 1.8em;
    height: 1em;
    margin: 0.5em 0.5em 0.5em 1.75em;
    left: 0;
}
.menu-top, .menu-bottom, .menu-circle {
    background: #B2DAFF;
}
.menu-top, .menu-bottom {
    width: 1.75em;
    height: 0.188em;
    border-radius: 3px;
}
.menu-top {
    margin-bottom: 0.5em;
}
.menu-circle {
    height: 0.45em;
    width: 0.45em;
    border-radius: 8px;
    top: -0.3em;
    right: 0;
    position: absolute;
    border: 2px solid #5F98CC;
}

/* notifications title */
.day7-title {
    font-size: 1em;
    font-weight: 500;
    margin: 0 auto;
    padding-left: 6em;
    padding-right: 2em;
}

/* search bar */
.search-input {
    position: absolute;
    border-radius: 17px;
    border: none;
    width: 13em;
	height: 2.125em;
    padding: 0 1em;
    transition: all .3s ease-in-out;
    top: 0.85em;
	right: 6em;
    transform: translateX(15px);
    opacity: 0;
    pointer-events: none;
}
/* removes focus border when clicking */
.search-input:focus {
    outline: none;
}
.active-search-input {
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
}

/* search icon */
.magnifying-glass {
    color: #B2DAFF;
    font-size: 1.25em;
}
.magnifying-glass:hover, .menu-icon:hover {
    cursor: pointer;
}

/* ensures child classes are styled when parent class is hovered over */
.menu-icon:hover .menu-top, 
.menu-icon:hover .menu-bottom,
.menu-icon:hover .menu-circle {
    background: #FFFFFF;
}

.magnifying-glass:hover {
    color: #FFFFFF;
}

/* white notifications section */
.notifications {
    flex-direction: row;
    color: #666666;
    font-size: 1em;
}

.notification-text-container > div:hover {
    color: #5F98CC;
    cursor: pointer;
}

.vertical-line {
    border-left: 0.15em solid #EBEBEB;
    height: 100%;
    margin-left: 1.75em;
}

.notification-text-container {
    padding: 1em 1.5em 0.75em 0.75em;
}

.notification-circle {
    height: 0.45em;
    width: 0.45em;
    border-radius: 8px;
    margin-left: -1.2em;
    position: absolute;
    border: 2px solid #5F98CC;
    box-shadow: 0 0 0 3px #FFFFFF;
    background: #FFFFFF;
    margin-top: 0.25em;
}

.times {
    font-size: 0.75em;
}

.individual-notifications {
    margin-top: 0.125em;
}

@media (max-width: 945px) {
    .day7-card {
        height: 12em;
        width: 12em;
    }
    .day7-card-header {
        padding: 0.8em 0;
        font-size: 0.65em;
    }
    .notifications {
        font-size: 0.65em;
    }
    .notification-text-container {
        padding: 1.25em 1.25em 1.25em 0.75em;
    }
    .individual-notifications {
        margin-bottom: 0.8em;
    }
    .vertical-line {
        border-left: 0.25em solid #EBEBEB;
        margin-left: 1.2em;
    }
    .notification-circle {
        border: 1px solid #5F98CC;
    }
}