.container-color7 {
    background-color: #263F57;
}

.day7-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Open Sans", Helvetica, sans-serif;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    width: 18.75em;
    height: 18.75em;
    background: #FFFFFF;
    border-radius: 2px;
}

.day7-card-header {
    text-align: center;
    padding: 1em 0;
    width: 100%;
    color: #FFFFFF;
    background-color: #5F98CC;
    height: 10%;
    border-radius: 2px 2px 0 0;
}

.notifications {
    display: flex;
    flex-direction: row;
    color: #666666;
    font-size: 1em;
}

.vertical-line {
    border-left: 0.15em solid #EBEBEB;
    height: 100%;
    margin-left: 1.75em;
}

.notification-text-container {
    display: flex;
    flex-direction: column;
    padding: 1em 1.5em 0.75em 0.75em;
}

.times {
    font-size: 0.75em;
}

.individual-notifications {
    margin-top: 0.125em;
}

@media (max-width: 945px) {
    .day7-card {
        height: 12em;
        width: 12em;
    }
    .day7-card-header {
        padding: 0.8em 0;
    }
    .notifications {
        font-size: 0.65em;
    }
    .notification-text-container {
        padding: 0.75em 1.25em 0.25em 0.75em;
    }
    .individual-notifications {
        margin-bottom: 0.8em;
    }
    .vertical-line {
        margin-left: 1.25em;
    }
}