.page-container, .grid-rows, .grid-blocks {
    display: flex;
    justify-content: center;
}

/* section title */
.days-title {
    font-family: "Courrier New", "Lucinda Console", monospace;
    text-align: center;
    font-size: 2em;
    margin-bottom: 0;
}

/* container for columns */
.page-container {
    align-items: center;
    /* flex-direction: column; */
    gap: 10%;
    padding: 2em 0;
    margin: 0 1em;
}

/* columns for displaying projects */
.grid-rows {
    flex-direction: row;
}

/* headings of projects */
.day-heading {
    margin: 0;
    font-size: 1.5em;
}

/* styling for individual columns */
.grid-blocks {
    flex-direction: column;
    align-items: center;
    width: 25em;
}

/* tablet styling */
@media (max-width: 945px) {
    .grid-blocks {
        width: 16em;
    }
}

/* mobile styling */
@media (max-width: 600px) {
    .grid-blocks {
        width: 18.75em;
        /* height: 21em; */
    }
    .page-container {
        flex-direction: column;
    }
}