.days-containers, .col-1, .col-2 {
    display: flex;
    justify-content: center;
}

/* section title */
.days-title {
    font-family: "Courrier New", "Lucinda Console", monospace;
    text-align: center;
    font-size: 2em;
    margin-bottom: 0;
}

/* columns for displaying projects */
.days-containers {
    align-items: center;
    gap: 10%;
    padding: 2em 0;
    margin: 0 1em;
}

/* headings of projects */
.day-heading {
    margin: 0;
    font-size: 1.5em;
}

/* styling for individual columns */
.col-1, .col-2 {
    flex-direction: column;
    align-items: center;
    width: 25em;
}

/* tablet styling */
@media (max-width: 945px) {
    .col-1, .col-2 {
        width: 16em;
    }
}

/* mobile styling */
@media (max-width: 600px) {
    .col-1, .col-2 {
        width: 18.75em;
        height: 21em;
    }
    .days-containers {
        flex-direction: column;
    }
    .col-1 {
        order: 1;
    }
    .col-2 {
        order: 2;
    }
}