/* containers */
.day-container, .page-container, .grid-rows, .grid-blocks {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* section title */
.days-title {
    font-family: "Courrier New", "Lucinda Console", monospace;
    text-align: center;
    font-size: 2em;
    margin-bottom: 0;
}

/* container for columns */
.page-container {
    /* flex-direction: column; */
    gap: 10%;
    padding: 2em 0;
    margin: 0 1em;
}

/* columns for displaying projects */
.grid-rows {
    flex-direction: row;
}

/* headings of projects */
.day-heading {
    margin: 0;
    font-size: 1.5em;
}

/* styling for individual columns */
.grid-blocks {
    flex-direction: column;
    width: 25em;
}

.day-container {
    z-index: 1;
    width: 100%;
    height: 25em;
    margin: 1.25em -12.5em;
    overflow: hidden;
    border-radius: 5px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* tablet styling */
@media (max-width: 945px) {
    .grid-blocks {
        width: 16em;
    }
    .day-container {
        height: 16em;
    }
}

/* mobile styling */
@media (max-width: 600px) {
    .page-container {
        flex-direction: column;
    }
    .grid-blocks {
        width: 18.75em;
        /* height: 21em; */
    }
    .day-container {
        margin: .25em -11em;
		height: 18em;
    }
}