/* mobile dropdown container */
.dropdown {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    z-index: 1;
}

/* dropdown content */
.dropdown-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: right;
    background-color: #FFFFFF;
    font-size: 1rem;
    line-height: 2.5rem;
    padding-left: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);   
    margin: 0; 
}

/* individual links */
.link-items {
    display: inline-block;
    cursor: pointer;
    padding-right: 0.75rem;
}