/* mobile dropdown container */
.dropdown {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    z-index: 1;
    overflow: hidden;
    max-height: 0;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    transform-origin: top;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);   
}

/* dropdown content */
.dropdown-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: right;
    background-color: #FFFFFF;
    font-size: 1rem;
    line-height: 2.5rem;
    padding: 0.25rem 0;
    /* padding-left: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem; */
    border-bottom-left-radius: 0.25rem;
    margin: 0; 
}

/* individual links */
.link-items {
    display: inline-block;
    cursor: pointer;
    padding: 0 0.75rem;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        max-height: 0;
    }
    to {
        transform: translateY(0);
        max-height: 150px;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0);
        max-height: 150px;
    }
    to {
        transform: translateY(-100%);
        max-height: 0;
    }
}

.dropdown.animation {
    display: block;
    animation-name: slideDown;
}

.dropdown.static {
    animation-name: slideUp;
}