header {
    background-image: linear-gradient(to bottom, #2A86E3, #2164AB);
    z-index: 0;
    text-align: center;
    position: relative;
}

header::after{
    content: '';
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 1000px solid transparent;
    border-right: 1000px solid transparent;
    border-top: 115px solid #2164AB;
}

h1 {
    font-family: "Courrier New", "Lucinda Console", monospace;
    margin-top: 0;
    padding: 2em 2em .5em;
    font-size: 3em;
    background: linear-gradient(to bottom, #FFFFFF, #A9A9A9);
    background-clip: text;
    color: transparent;
}

@media (max-width: 600px) {
    header::after {
        bottom: -60px;
        border-left: 300px solid transparent;
        border-right: 300px solid transparent;
        border-top: 60px solid #2164AB;
    }
    h1 {
        padding: 1em 1em .5em;
        font-size: 1.5em;
    }
}