.hero {
    background-image: linear-gradient(to bottom, #2A86E3, #2164AB);
    z-index: 0;
    text-align: center;
    position: relative;
    top: 4em;
    width: 100vw
}

.hero::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 115px solid #2164AB;
    z-index: 0;
}

h1 {
    font-family: "Courrier New", "Lucinda Console", monospace;
    margin: 0;
    padding: 2em 2em .5em;
    font-size: 3em;
    background: linear-gradient(#FFFFFF 60%, #808080 100%);
    background-clip: text;
    color: transparent;
}

@media (max-width: 600px) {
    .hero::after {
        bottom: -60px;
        border-top: 60px solid #2164AB;
    }
    h1 {
        font-size: 1.5em;
    }
}