nav, ul {
    display: flex;
}

nav {
    top: 0;
    justify-content: flex-end;
    border-bottom: 1px solid #D3D3D3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
}

img {
    padding: 1em;
}

ul {
    list-style: none;
    flex-direction: row;
}

li {
    cursor: pointer;
    padding: 0 1em;
}