/* overall navbar, desktop view, and css logo & site title */
.navbar, .desktop-nav, .logo {
    display: flex;
}
/* navbar, css logo & site title */
.navbar, .logo {
    align-items: center;
}

/* overall navbar */
.navbar {
    width: 100vw;
    position: fixed;
    background-color: #FFFFFF;
    border-bottom: 1px solid #D3D3D3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);    
    justify-content: space-between;
    z-index: 10;
}

/* css image */
.css-logo-navbar {
    padding: 0 1em;
    height: 2em;
    width: 2em;
}

/* site title */
.navbar-title {
    font-family: "Courrier New", "Lucinda Console", monospace;
    font-size: 1.25em;
}

/* list of links in desktop view */
.desktop-nav {
    list-style: none;
    flex-direction: row;
}

/* links in desktop view */
.desktop-navbar-links {
    cursor: pointer;
    padding: 0 1em;
}

/* mobile styling */
@media (max-width: 600px) {
    .navbar {
        padding: 1em;
    }
    .css-logo-navbar {
        padding: 0 .25em 0 0;
        height: 2em;
        width: 2em;
    }
    .navbar-title {
        font-size: 1.25em;
    }
}