nav, ul, .logo {
    display: flex;
}

nav {
    border-bottom: 1px solid #D3D3D3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

nav, .logo {
    align-items: center;
}

img {
    padding: 1em;
}

.navbar-title {
    font-family: "Courrier New", "Lucinda Console", monospace;
    font-size: 1.25em;
}

ul {
    list-style: none;
    flex-direction: row;
}

li {
    cursor: pointer;
    padding: 0 1em;
}