/* Day 5 Styles */

/* green box container */
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	position: absolute;
	left: 50%;
	width: 400px;
	height: 400px;
	margin: 20px -200px;
	border-radius: 5px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
	background: #42A7A1;
}

.chart-container {
	padding: 8px;
	z-index: 2;
	position: relative;
	width: 275px;
	height: 200px;
	border-radius: 5px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	background: linear-gradient(to top, #FFFFFF 0%, #FFFFFF 70%, #F1BA64 70%, #F1BA64 100%);
}

.chart-header {
	color: #FFFFFF;
	font-family: 'Open Sans', Helvetica, sans-serif;
	background: #F1BA64;
}

h2, h4 {
	padding: 3px 0;
	margin: 0;
}

h2 {
	font-size: 15px;
	font-weight: 400;
}

h4 {
	font-size: 12px;
	font-weight: 8;
}

.top-row, .bottom-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}