/* Day 2 Styles */

/* green box container, hamburger menu */
.container, .hamburger {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* green box container */
.container {
	position: relative;
	z-index: 1;
	left: 50%;
	width: 400px;
	height: 400px;
	margin: 20px -200px;
	border-radius: 5px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
	background: #3FAF82;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.hamburger {
	flex-direction: column;
	justify-content: space-between;
	height: 60px;
}

.hamburger:hover {
	cursor: pointer;
}

.hamburger.close {
	transform: rotate(90deg);
}

.line {
	background-color: white;
	width: 80px;
	height: 8px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}