/* Day 2 Styles */

/* green box container, hamburger menu */
.container, .hamburger {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* green box container */
.container {
	position: relative;
	z-index: 1;
	left: 50%;
	width: 400px;
	height: 400px;
	margin: 20px -200px;
	border-radius: 5px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
	background: #3FAF82;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* hamburger menu */
.hamburger {
	flex-direction: column;
	justify-content: space-between;
	height: 60px;
}

.hamburger:hover {
	cursor: pointer;
}

/* horizontal lines that make up hamburger */
.top-line, .middle-line, .bottom-line {
	background-color: white;
	width: 80px;
	height: 8px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}

@keyframes animate-top-line {
	0% {
		transform: translate3d(0, 0, 0) rotate(0deg);
	}
	50% {
		transform: translate3d(0,26, 0)
	}
}


// Moved previous animation attempts aside in favor of trying different approach
/* .hamburger.close {
	transform: rotate(180deg);
} */

/* line transformation on click */
/* .hamburger.close .top-line {
	transform: translateY(27px);
	animation: 1s linear; // playing around w/ animation property to separate out 2 animations
} */

/* .hamburger.close .middle-line {
	opacity: 0;
	transition-duration: 0.5s; // does not show up as its own thing if hamburger.cross CSS is commented out
} */

/* .hamburger.close .bottom-line { // negates previous transition of the menu closing
	transform: translateY(-27px);
	transition-duration: 0.5s;
} */

/* .hamburger.cross .top-line {
	transform: rotate(45deg) translate(28px, 16px);
	transition-duration: 1s;
} */

/* .hamburger.cross .bottom-line {
	transform: rotate(-45deg) translate(20px, -10px);
	transition-duration: 1s;
} */
