/* * {
    font-family: Arial, Helvetica, sans-serif;
} */

h1, h2, h3 {
    font-family: "Courrier New", "Lucinda Console", monospace;
    text-align: center;
}

li, p {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.footer-text {
    text-align: start;
    font-size: 1.25em;
}

footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    padding: 1em;
}
